<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">





<title>滲透與防禦，30天了解資訊安全 :: 2024 iThome 鐵人賽</title>

<meta name="description" content="了解資訊安全，從最基本的了解到實作，從多個領域學習，包含滲透測試、工具使用、威脅分析等去學習資訊安全"/>
<meta name="keywords" content="iT邦幫忙,iThome">
<meta name="author" content="iThome">
<meta property="og:site_name" content="iT 邦幫忙::一起幫忙解決難題，拯救 IT 人的一天"/>
<meta property="og:url" content="https://ithelp.ithome.com.tw/users/20169463/ironman/7905"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="滲透與防禦，30天了解資訊安全 :: 2024 iThome 鐵人賽"/>
<meta property="og:image" content="https://ithelp.ithome.com.tw/storage/image/fbpic.jpg"/>
<meta property="og:description" content="了解資訊安全，從最基本的了解到實作，從多個領域學習，包含滲透測試、工具使用、威脅分析等去學習資訊安全"/>
<meta property="fb:app_id" content="137875859607921" />

<link rel="apple-touch-icon" sizes="57x57" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://ithelp.ithome.com.tw/storage/favicons/manifest.json">
<link rel="mask-icon" href="https://ithelp.ithome.com.tw/storage/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="https://ithelp.ithome.com.tw/storage/favicons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/bootstrap.min.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/sweetalert.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/lib/select2/css/select2.min.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/google.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/style.css?202008271142">
<!-- highlight -->
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/railscasts.css">
<!-- end -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--messenger css-->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-6182VBHV8Y"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6182VBHV8Y');
</script>
            </head>

<body>
    <div class="header">
    <div class="a970" align="center">
        <script src="https://itadapi.ithome.com.tw/media/serve?type=B5&channel=ithome_index&encoding=Utf8"></script>
    </div>
    <div class="header__inner clearfix">
        <h1 class="header__logo pull-left"><a href="/"><img src="https://ithelp.ithome.com.tw/storage/image/logo.svg" alt="iT邦幫忙" class="img-responsive"></a></h1>
        <div class="header__promote">
            <div class="a12word pull-right">
                <div class="a12word__box">
                    <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T2&channel=ithome_forum&encoding=Utf8"> </script>
                </div>
                <div class="a12word__box">
                    <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T3&channel=ithome_forum&encoding=Utf8"> </script>
                </div>
                <div class="a12word__box">
                    <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T4&channel=ithome_forum&encoding=Utf8"> </script>
                </div>
            </div>

            <div class="a970 pull-right">
                <script src="https://itadapi.ithome.com.tw/media/serve?type=B1&channel=ithome_forum&encoding=Utf8"></script>
            </div>
        </div>
    </div>

    <nav class="menu">
        <div class="menu__bg">
            <div class="menu__container clearfix">
                
                <h1 class="menu__logo">
                    <a href="/" class="menu__logo-link"><img src="https://ithelp.ithome.com.tw/storage/image/nav_logo.svg"  alt="iT邦幫忙"></a>
                </h1>

                                
                
                <ul class="list-unstyled menu__left">
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/questions" class="menu__item-link  menu__item-link--pl">技術問答</a>
                    </li>
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/articles?tab=tech" class="menu__item-link ">技術文章</a>
                    </li>
                    
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/articles?tab=job" class="menu__item-link  hidden-xs" >iT 徵才</a>
                    </li>
                    
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/tags" class="menu__item-link  hidden-xs" >Tag</a>
                    </li>
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/talks" class="menu__item-link  hidden-xs" >聊天室</a>
                    </li>
                    <li class="menu__item menu__item--ironman">
                        <a href="/2024ironman/" target="_blank" class="menu__item-link hidden-xs" >2024 鐵人賽</a>
                    </li>
                </ul>
                

                                    
                    <ul class="list-unstyled menu__right">
                        <li class="menu__item">
                            <div id="searchDropdown" class="menu__search-btn">
                                <span class="menu__search-toggle"></span>
                            </div>
                        </li>
                        <li class="menu__item">
                            <a href="https://ithelp.ithome.com.tw/users/login" class="menu__item-link">登入/註冊</a>
                        </li>
                    </ul>
                            </div>
        </div>

        
        <div class="menu__dropform">
            <div class="menu__container">
                <form action="https://ithelp.ithome.com.tw/search" role="search" method="GET" class="clearfix">
                    <input type="hidden" name="_token" value="mHXzO1je7iFO3gvydrtUf2pQZw8XkkPQZc0mCAUt">                    <div class="pull-left">
                        <input name="search" type="text" class="menu__search-input" placeholder="搜尋主題、問題或人">

                        <input type="radio" class="radio-input" name="tab" value="question" id="searchQA" checked/>
                        <label for="searchQA" class="radio-label">問答</label>

                        <input type="radio" class="radio-input" name="tab" value="article" id="searchArticle"/>
                        <label for="searchArticle" class="radio-label">文章</label>

                        <input type="radio" class="radio-input" name="tab" value="tag" id="searchTag"/>
                        <label for="searchTag" class="radio-label">Tag</label>

                        <input type="radio" class="radio-input" name="tab" value="user" id="searchID"/>
                        <label for="searchID" class="radio-label">邦友</label>

                        <input type="radio" class="radio-input" name="tab" value="ironman" id="searchIronman"/>
                        <label for="searchIronman" class="radio-label">鐵人賽</label>
                    </div>
                    <button type="submit" class="btn menu__dropform-btn">搜尋</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="menu__mask"></div>
</div>


    
                    
        
    <div class="container index-top">
        <div class="row">
            <div class="col-md-12">
                <div class="board">
                    <div class="profile-header clearfix">
    <div class="profile-header__avatar">
        <img src="https://member.ithome.com.tw/avatars/199276?s=ithelp" class="profile-header__avatar-img"/>

    </div>
    

    <div class="profile-header__content">
        <div class="profile-header__name">
            boting0501 <span class="profile-header__account">(boting0501)</span>
        </div>
        <div class="profile-header__text">
            iT邦見習生  ‧ 點數 <a
                    href="https://ithelp.ithome.com.tw/users/20169463/points">
                114
            </a>
        </div>
        <div class="profile-header__text">
             
        </div>
    </div>
    <div class="profile-header__right">
        <div class="profile-header__statistic">
            <div class="profile-header__view">
                <div><span class="profile-header__view-num">625</span></div>
                <div class="profile-header__view-text">累計瀏覽數</div>
            </div>
            <div class="profile-header__follow">
                <a href="https://ithelp.ithome.com.tw/users/20169463/traced" class="profile-header__follow-link">
                    <div><span class="profile-header__follow-num">1</span>人</div>
                    <div class="profile-header__follow-text">在追蹤</div>
                </a>
            </div>
        </div>

        <div class="pull-right">
                            <div class="profile-header__btngroup">
                    <a href="https://ithelp.ithome.com.tw/messages/getGroup/20169463"
                       class="btn btn-border-main profile-header__btn--left">
                        <i class="fa fa-envelope-o fa-fw profile-side__icon"></i>站內簡訊
                    </a>
                                            <a href="https://ithelp.ithome.com.tw/users/login" class="btn btn-trace">
                            <i class="fa fa-heart-o fa-fw fa--spacing"></i>追蹤
                        </a>
                                    </div>
                    </div>
    </div>
</div>
<div class="profile-nav">
    <ul class="list-inline profile-nav__list">
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="profile-nav__link">
                <span class="profile-nav__icon"><i class="fa fa-newspaper-o fa-fw"></i></span> 個人背景
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20169463/questions" class="profile-nav__link">
                <span class="profile-nav__num">0</span>發問
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20169463/articles" class="profile-nav__link">
                <span class="profile-nav__num">27</span>文章
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20169463/answers" class="profile-nav__link">
                <span class="profile-nav__num">0</span>回答
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20169463/invited" class="profile-nav__link">
                <span class="profile-nav__num">0</span>邀請回答
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20169463/best_answers" class="profile-nav__link">
                <span class="profile-nav__num">0</span>最佳解答
            </a>
        </li>
        <li class="profile-nav__item profile-nav__item--pad">
            <div class="dropdown">
              <a id="profile-nav" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="profile-nav__link">
                <span class="profile-nav__icon"><i class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>其他
              </a>
              <ul class="dropdown-menu profile-nav__dropdown-menu" aria-labelledby="profile-nav">
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/ironman" class="profile-side__text">鐵人檔案</a>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/collections/questions" class="profile-side__text">收藏的問題</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/collections/articles" class="profile-side__text">收藏的文章</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/traces/questions" class="profile-side__text">追蹤的問題</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/traces/articles" class="profile-side__text">追蹤的文章</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/traces/tags" class="profile-side__text">追蹤的tag</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/traces/users" class="profile-side__text">追蹤的邦友</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/likes/questions" class="profile-side__text">Like的發問</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/likes/answers" class="profile-side__text">Like的回答</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/likes/articles" class="profile-side__text">Like的文章</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/likes/responses" class="profile-side__text">Like的留言</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/comments/questions" class="profile-side__text">問答討論</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/comments/answers" class="profile-side__text">問答回應</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/responses" class="profile-side__text">文章留言</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/comments/responses" class="profile-side__text">文章回應</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/talks" class="profile-side__text">聊天室</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20169463/collections/ironman" class="profile-side__text">訂閱列表</a></li>
              </ul>
            </div>
        </li>
    </ul>
</div>                </div>
                <div class="board leftside profile-main">
                        
    <h2 class="ir-profile-header">
        
        <img src="https://ithelp.ithome.com.tw/storage/image/fight.svg" alt="" class="">鐵人檔案
    </h2>
    <div class="ir-profile-content">
        <div class="ir-profile-years clearfix">
            <div class="ir-profile-years__title">
                2024 iThome 鐵人賽
            </div>
            <a href="https://ithelp.ithome.com.tw/users/20169463/ironman" class="ir-profile-back">回列表</a>
        </div>

        <div class="ir-profile-series ">
            
                                            <a href="https://ithelp.ithome.com.tw/2024ironman/security" class="group__badge group__badge--security ir-profile-list__badge">
                    Security
                </a>
                        <h3 class="qa-list__title qa-list__title--ironman">
                滲透與防禦，30天了解資訊安全<span> 系列</span>
            </h3>
            <p class="qa-list__description">了解資訊安全，從最基本的了解到實作，從多個領域學習，包含滲透測試、工具使用、威脅分析等去學習資訊安全</p>
            <div class="text-right"><button id="read_more" class="btn btn-qa-list-open">展開 
            <i class="arrow-down-i fa fa-angle-down fa-3x" aria-hidden="true"></i>
            </button><button id="read_less" class="btn btn-secondary btn-qa-list-close" style="display: none;">收起
            <i class="arrow-down-i fa fa-angle-up fa-3x" aria-hidden="true"></i>
            </button></div>
            <div class="qa-list__info qa-list__info--ironman subscription-group">

                <span >
                                                                        參賽天數 27 天 ｜
                                                            </span>
                    <span>共 27 篇文章 ｜</span>
                    <span class="subscription-amount">1</span> 人訂閱
                                        <a href="https://ithelp.ithome.com.tw/users/login" class="ir-profile-subscription subscription-btn">
                            <i class="fa fa-bookmark-o fa-fw" aria-hidden="true"></i>訂閱系列文
                        </a>
                    
                <a href="https://ithelp.ithome.com.tw/rss/series/7905" class="btn-rss btn-no-border" target="_blank">
                    <i class="fa fa-rss fa-fw" aria-hidden="true"></i>RSS系列文
                </a>

                
                            </div>


        </div>
<!-- articles -->
                        <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">57</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    1
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10350702
                                                        " class="qa-list__title-link">
                                                            了解網路安全
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        了解網路安全的第一步就是需要先知道什麼是網路安全？我們可以透過一些影片介紹去學習，我是觀看這部影片影片中有說「網路安全是網路系統的硬體、軟體以及系統數據受到保護...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-15 21:56:39" class="qa-list__info-time">2024-09-15</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">115</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    2
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10352277
                                                        " class="qa-list__title-link">
                                                            網路安全的威脅和攻擊類型
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        網路安全的目的就是要來防範網路威脅還有釣魚網站今天要來學習網路威脅是什麼以及常見的網路危機跟惡意軟體網路威脅的定義為「針對網際網路的人為攻擊，透過未經授權的存取...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-16 20:46:21" class="qa-list__info-time">2024-09-16</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">42</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    3
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10353126
                                                        " class="qa-list__title-link">
                                                            加密和非加密基礎
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        今天要來學習對稱和非對稱加密，最後還會學習雜揍函數加密算了分兩種，對稱（DES、3DES、AES)和非對稱(RSA、DSA、ECC)差別在對稱是使用單個金鑰，非...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-17 23:23:59" class="qa-list__info-time">2024-09-17</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">83</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    4
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10353890
                                                        " class="qa-list__title-link">
                                                            網路協議與安全
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        今天要來學習網路通訊協定網路通訊協定就是像是電腦的共同語言，網路中電腦可能使用不同的硬體和軟體，但是使用通訊協定讓不同電腦都可以互相溝通。就像是講兩種不同語言的...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-18 22:47:05" class="qa-list__info-time">2024-09-18</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">35</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    5
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10354332
                                                        " class="qa-list__title-link">
                                                            操作系統安全
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        常見的操作系統有Windows、MacOs、Linux、UNIX和純DOS系統，任何軟體都需要在操作系統的支持下才能運行。
1.Windows：最多人使用，也是...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-19 18:05:45" class="qa-list__info-time">2024-09-19</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">71</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    6
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10355146
                                                        " class="qa-list__title-link">
                                                            安全策略和合規性
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        隨著網路的不斷進步，網路安全問題也了越來越被重視。為什麼我們要制定安全策略，為的是要保護我們的資料，安全策略不僅是技術性的解決方案，它是一系列策略，是在預防、檢...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-20 22:01:21" class="qa-list__info-time">2024-09-20</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">44</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    7
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10355872
                                                        " class="qa-list__title-link">
                                                            網路安全工具
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        昨天學習安全措施時有學到防火牆跟IDPS，今天要來深入學習什麼是防火牆跟其他網路安全工具
防火牆是一種安全系統，用來監視和控制網路流量，通常位於受信任網路跟不受...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-21 23:11:51" class="qa-list__info-time">2024-09-21</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">40</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    8
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10356578
                                                        " class="qa-list__title-link">
                                                            VPN與安全通訊
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        VPN（虛擬專用網路），是一種保護網路連接和隱私的服務，可以對用戶網路連結進行加密並隱藏IP位置 。VPN在公用網路上建立一個加密網路，提供額外安全和隱私保護層...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-22 23:54:33" class="qa-list__info-time">2024-09-22</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition  qa-condition--change ">
                        <span class="qa-condition__count">1</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">40</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    9
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10357100
                                                        " class="qa-list__title-link">
                                                            了解並學習Nmap
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        Nmap(網路對印器)是一款網路安全工具，可以偵查網路環境的工具，能夠漏洞檢測、埠掃描、網路拓譜圖繪製。Zenmap是nmap指令的圖形化使用者介面，因為Nma...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-23 22:39:55" class="qa-list__info-time">2024-09-23</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">40</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    10
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10357693
                                                        " class="qa-list__title-link">
                                                            安全配置和硬化
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        學習配置電腦硬化系統可以提高系統的安全性，減少遭受攻擊的風險，在配置前要先學習一些基本概念
1.操作系統安全:要先了解自己電腦的操作系統，才可以繼續試著提升硬化...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-24 21:57:52" class="qa-list__info-time">2024-09-24</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20169463/profile" class="qa-list__info-link">boting0501
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                </div>
        <div class="profile-pagination">
            <ul class="pager">
        
                    <li class="disabled"><span>上一頁</span></li>
        
        
                    <li><a href="https://ithelp.ithome.com.tw/users/20169463/ironman/7905?page=2" rel="next">下一頁</a></li>
            </ul>

        </div>
                </div>
                <div class="rightside profile-side">
                    <div class="board profile-side__box profile-side__box--ironman">
    <div class="profile-side__title">
        <a href="https://ithelp.ithome.com.tw/users/20169463/ironman"><img src="https://ithelp.ithome.com.tw/storage/image/fight.svg" alt="" class="">boting0501的鐵人檔案</a>
    </div>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-star-o fa-fw profile-side__icon"></i>boting0501的收藏
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/collections/questions" class="profile-side__text">收藏的問題</a>
        </li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/collections/articles" class="profile-side__text">收藏的文章</a>
        </li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-heart-o fa-fw profile-side__icon"></i>boting0501的追蹤
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/traces/questions" class="profile-side__text">追蹤的問題</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/traces/articles" class="profile-side__text">追蹤的文章</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/traces/tags" class="profile-side__text">追蹤的tag</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/traces/users" class="profile-side__text">追蹤的邦友</a></li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-thumbs-o-up fa-fw profile-side__icon"></i>boting0501的Like
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/likes/questions" class="profile-side__text">Like的發問</a>
        </li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/likes/answers" class="profile-side__text">Like的回答</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/likes/articles" class="profile-side__text">Like的文章</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/likes/responses" class="profile-side__text">Like的留言</a>
        </li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-file-text-o fa-fw profile-side__icon"></i>boting0501的紀錄
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/comments/questions" class="profile-side__text">問答討論</a>
        </li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/comments/answers" class="profile-side__text">問答回應</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/responses" class="profile-side__text">文章留言</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/comments/responses" class="profile-side__text">文章回應</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20169463/talks" class="profile-side__text">聊天室</a></li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <a href="https://ithelp.ithome.com.tw/users/20169463/collections/ironman"><i class="fa fa-bookmark-o fa-fw profile-side__icon" aria-hidden="true"></i>boting0501的訂閱列表</a>
    </div>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title profile-side__title--blockade">
                    <button class="blacklist_btn" data-id="20169463" data-nickname="boting0501">
                <i class="fa fa-user-times fa-fw profile-side__icon"></i>
                <span>
                                    封鎖 boting0501
                </span>
            </button>
            </div>
</div>
<div class="profile-side__ad">
    <script src="https://itadapi.ithome.com.tw/media/serve?type=B3&channel=ithome_forum&encoding=Utf8"></script>
</div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="a970">
                    <script src="https://itadapi.ithome.com.tw/media/serve?type=B1&channel=ithome_forum&encoding=Utf8"></script>
                </div>
                <ul class="list-inline footer__menu">
                    <li class="footer__item">電週文化事業版權所有、轉載必究 | Copyright © <a href="https://www.ithome.com.tw/" target="_blank" class="footer__link">iThome</a></li>
                    <li><a href="https://www.ithome.com.tw/aboutus/" target="_blank" class="footer__link">刊登廣告</a></li>
                    <li><a href="https://www.ithome.com.tw/aboutus/" target="_blank" class="footer__link">授權服務</a></li>
                    <li><a href="mailto:ithelp@mail.ithome.com.tw" class="footer__link">服務信箱</a></li>
                    <li><a href="https://www.ithome.com.tw/terms" target="_blank" class="footer__link">隱私權聲明與會員使用條款</a></li>
                    <li><a href="https://ithelp.ithome.com.tw/guide" class="footer__link">iT邦幫忙使用說明</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="https://ithelp.ithome.com.tw/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/js/messenger.min.js"></script>
<script>
    Messenger.options = {
        extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-left',
        theme: 'block'
    };

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }

    window.Notification.TOKEN = getCookie("_token");
</script>
<script>
    $(function(){
        $.ajaxPrefilter(function(options, originalOptions, jqXHR){
            if (options.type.toLowerCase() !== "get" && !options.beforeSend) {
                options.beforeSend = function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', 'mHXzO1je7iFO3gvydrtUf2pQZw8XkkPQZc0mCAUt');
                }
            }
        });
    });
</script>
<script src="https://ithelp.ithome.com.tw/js/lib/vue.min.js"></script>
<script src="https://ithelp.ithome.com.tw/js/lib/sweetalert.min.js"></script>
<script src="https://ithelp.ithome.com.tw/js/event.js?20180530"></script>
<script src="https://ithelp.ithome.com.tw/lib/select2/js/select2.full.min.js"></script>

<script src="https://ithelp.ithome.com.tw/js/ImgPreview.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var self = this;
    const itPlusVideo = new Vue({
        el: '#it_plus_video',
        data: {
            items: [],
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/itplus/sidebar')
                        .then(response => {
                            this.items = response.data.data;
                        })
                        .catch(error => {
                            console.error("error!", error);
                        });
//                const cacheKey = 'cachedData';
//                const cachedDataString = localStorage.getItem(cacheKey);
//                const cachedData = JSON.parse(cachedDataString);
//
//                // 檢查緩存數據是否存在並且未過期
//                if (cachedData && Date.now() - cachedData.timestamp < 5 * 60 * 1000) {
//                    // 使用緩存數據
//                    this.items = cachedData.data;
//                } else {
//                    // 獲取最新數據
//                    axios.get('/api/itplus/sidebar')
//                            .then(response => {
//                                console.log(response.data.cache);
//                                this.items = response.data.data;
//
//                                // 將獲取到的數據存儲在本地存儲中
//                                const newData = { data: response.data.data, timestamp: Date.now() };
//                                localStorage.setItem(cacheKey, JSON.stringify(newData));
//                            })
//                            .catch(error => {
//                                console.error("error!", error);
//                            });
//                }
            },
            formatDate(time) {
                const parts = time.split(':');	//	移除":"符號
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);

                const totalMinutes = hours * 60 + minutes;

                return totalMinutes + " 分";
            },
        }
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var self = this;
    const itplusPopulaRecommendationsContent = new Vue({
        el: '#itplusPopulaRecommendationsContent',
        data: {
            items: []
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/itplus/bottom')
                        .then(response => {
                            this.items = response.data.data;
                            console.log(response.data.data);
                        })
                        .catch(error => {
                            console.error("error!", error);
                        });
            },
            formatDate(time) {
                const parts = time.split(':');	//	移除":"符號
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);

                const totalMinutes = hours * 60 + minutes;

                return totalMinutes + " 分";
            },
        }
    });
</script>

<div class="modal fade" id="AtUser" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">標記使用者</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="invite_person" class="control-label">輸入對方的帳號或暱稱</label>
                    <input type="text" class="form-control modal-input" id="invite_person" v-model="result_text" debounce="500">
                    <div id="editor_tagged_ids"></div>
                </div>
                <ul class="list-unstyled invitation">
                    <li style="text-align: center">
                        <template v-if="!!result_text && !result_list.length && is_loading">
                            Loading
                        </template>
                        <template v-if="!!result_text && !result_list.length && !is_loading">
                            找不到結果。
                        </template>
                    </li>
                    <li class="invitation-list" v-for="result in result_list">
                        <img v-if="result && result.center_id" :src="'https://member.ithome.com.tw/avatars/' + result.center_id + '?s=ithelp'" style="float: left; margin-left: 10px; width: 48px; height: 48px;">
                        <div class="invitation-list__content clearfix">
                            <a class="btn btn-main invitation-list__btn" @click="AtUserByID(result.label, result.id)">標記</a>
                            <div><a href="#" class="invitation-list__name">{{ result.label }}</a></div>
                            <div><a href="#" class="invitation-list__account">{{ result.account }}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-main" data-dismiss="modal">關閉</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>hljs.highlightAll()</script>
    </body>

</html>