<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">





<title>無限...寶石？畫布啦！ :: 2024 iThome 鐵人賽</title>

<meta name="description" content="無邊際畫布的應用無所不在，Figma、excalidraw、tldraw 等等都可以看到它們的蹤跡。之前個人專案的開發需要一個無限畫布，不過因為我是屬於熱愛造輪子的人，我並..."/>
<meta name="keywords" content="iT邦幫忙,iThome">
<meta name="author" content="iThome">
<meta property="og:site_name" content="iT 邦幫忙::一起幫忙解決難題，拯救 IT 人的一天"/>
<meta property="og:url" content="https://ithelp.ithome.com.tw/users/20162903/ironman/7089"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="無限...寶石？畫布啦！ :: 2024 iThome 鐵人賽"/>
<meta property="og:image" content="https://ithelp.ithome.com.tw/storage/image/fbpic.jpg"/>
<meta property="og:description" content="無邊際畫布的應用無所不在，Figma、excalidraw、tldraw 等等都可以看到它們的蹤跡。之前個人專案的開發需要一個無限畫布，不過因為我是屬於熱愛造輪子的人，我並..."/>
<meta property="fb:app_id" content="137875859607921" />

<link rel="apple-touch-icon" sizes="57x57" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://ithelp.ithome.com.tw/storage/favicons/manifest.json">
<link rel="mask-icon" href="https://ithelp.ithome.com.tw/storage/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="https://ithelp.ithome.com.tw/storage/favicons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/bootstrap.min.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/sweetalert.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/lib/select2/css/select2.min.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/google.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/style.css?202008271142">
<!-- highlight -->
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/railscasts.css">
<!-- end -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--messenger css-->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-6182VBHV8Y"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6182VBHV8Y');
</script>
            </head>

<body>
    <div class="header">
    <div class="a970" align="center">
        <script src="https://itadapi.ithome.com.tw/media/serve?type=B5&channel=ithome_index&encoding=Utf8"></script>
    </div>
    <div class="header__inner clearfix">
        <h1 class="header__logo pull-left"><a href="/"><img src="https://ithelp.ithome.com.tw/storage/image/logo.svg" alt="iT邦幫忙" class="img-responsive"></a></h1>
        <div class="header__promote">
            <div class="a12word pull-right">
                <div class="a12word__box">
                    <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T2&channel=ithome_forum&encoding=Utf8"> </script>
                </div>
                <div class="a12word__box">
                    <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T3&channel=ithome_forum&encoding=Utf8"> </script>
                </div>
                <div class="a12word__box">
                    <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T4&channel=ithome_forum&encoding=Utf8"> </script>
                </div>
            </div>

            <div class="a970 pull-right">
                <script src="https://itadapi.ithome.com.tw/media/serve?type=B1&channel=ithome_forum&encoding=Utf8"></script>
            </div>
        </div>
    </div>

    <nav class="menu">
        <div class="menu__bg">
            <div class="menu__container clearfix">
                
                <h1 class="menu__logo">
                    <a href="/" class="menu__logo-link"><img src="https://ithelp.ithome.com.tw/storage/image/nav_logo.svg"  alt="iT邦幫忙"></a>
                </h1>

                                
                
                <ul class="list-unstyled menu__left">
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/questions" class="menu__item-link  menu__item-link--pl">技術問答</a>
                    </li>
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/articles?tab=tech" class="menu__item-link ">技術文章</a>
                    </li>
                    
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/articles?tab=job" class="menu__item-link  hidden-xs" >iT 徵才</a>
                    </li>
                    
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/tags" class="menu__item-link  hidden-xs" >Tag</a>
                    </li>
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/talks" class="menu__item-link  hidden-xs" >聊天室</a>
                    </li>
                    <li class="menu__item menu__item--ironman">
                        <a href="/2024ironman/" target="_blank" class="menu__item-link hidden-xs" >2024 鐵人賽</a>
                    </li>
                </ul>
                

                                    
                    <ul class="list-unstyled menu__right">
                        <li class="menu__item">
                            <div id="searchDropdown" class="menu__search-btn">
                                <span class="menu__search-toggle"></span>
                            </div>
                        </li>
                        <li class="menu__item">
                            <a href="https://ithelp.ithome.com.tw/users/login" class="menu__item-link">登入/註冊</a>
                        </li>
                    </ul>
                            </div>
        </div>

        
        <div class="menu__dropform">
            <div class="menu__container">
                <form action="https://ithelp.ithome.com.tw/search" role="search" method="GET" class="clearfix">
                    <input type="hidden" name="_token" value="viozHA7rqNQeQEhGUZ1S7tq3sqNrSsO8uKxNz8tp">                    <div class="pull-left">
                        <input name="search" type="text" class="menu__search-input" placeholder="搜尋主題、問題或人">

                        <input type="radio" class="radio-input" name="tab" value="question" id="searchQA" checked/>
                        <label for="searchQA" class="radio-label">問答</label>

                        <input type="radio" class="radio-input" name="tab" value="article" id="searchArticle"/>
                        <label for="searchArticle" class="radio-label">文章</label>

                        <input type="radio" class="radio-input" name="tab" value="tag" id="searchTag"/>
                        <label for="searchTag" class="radio-label">Tag</label>

                        <input type="radio" class="radio-input" name="tab" value="user" id="searchID"/>
                        <label for="searchID" class="radio-label">邦友</label>

                        <input type="radio" class="radio-input" name="tab" value="ironman" id="searchIronman"/>
                        <label for="searchIronman" class="radio-label">鐵人賽</label>
                    </div>
                    <button type="submit" class="btn menu__dropform-btn">搜尋</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="menu__mask"></div>
</div>


    
                    
        
    <div class="container index-top">
        <div class="row">
            <div class="col-md-12">
                <div class="board">
                    <div class="profile-header clearfix">
    <div class="profile-header__avatar">
        <img src="https://member.ithome.com.tw/avatars/188369?s=ithelp" class="profile-header__avatar-img"/>

    </div>
    

    <div class="profile-header__content">
        <div class="profile-header__name">
            veee <span class="profile-header__account">(veee)</span>
        </div>
        <div class="profile-header__text">
            iT邦新手 4 級 ‧ 點數 <a
                    href="https://ithelp.ithome.com.tw/users/20162903/points">
                345
            </a>
        </div>
        <div class="profile-header__text">
            前端開發 P 大學機械工程
        </div>
    </div>
    <div class="profile-header__right">
        <div class="profile-header__statistic">
            <div class="profile-header__view">
                <div><span class="profile-header__view-num">1800</span></div>
                <div class="profile-header__view-text">累計瀏覽數</div>
            </div>
            <div class="profile-header__follow">
                <a href="https://ithelp.ithome.com.tw/users/20162903/traced" class="profile-header__follow-link">
                    <div><span class="profile-header__follow-num">1</span>人</div>
                    <div class="profile-header__follow-text">在追蹤</div>
                </a>
            </div>
        </div>

        <div class="pull-right">
                            <div class="profile-header__btngroup">
                    <a href="https://ithelp.ithome.com.tw/messages/getGroup/20162903"
                       class="btn btn-border-main profile-header__btn--left">
                        <i class="fa fa-envelope-o fa-fw profile-side__icon"></i>站內簡訊
                    </a>
                                            <a href="https://ithelp.ithome.com.tw/users/login" class="btn btn-trace">
                            <i class="fa fa-heart-o fa-fw fa--spacing"></i>追蹤
                        </a>
                                    </div>
                    </div>
    </div>
</div>
<div class="profile-nav">
    <ul class="list-inline profile-nav__list">
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="profile-nav__link">
                <span class="profile-nav__icon"><i class="fa fa-newspaper-o fa-fw"></i></span> 個人背景
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20162903/questions" class="profile-nav__link">
                <span class="profile-nav__num">0</span>發問
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20162903/articles" class="profile-nav__link">
                <span class="profile-nav__num">29</span>文章
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20162903/answers" class="profile-nav__link">
                <span class="profile-nav__num">0</span>回答
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20162903/invited" class="profile-nav__link">
                <span class="profile-nav__num">0</span>邀請回答
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20162903/best_answers" class="profile-nav__link">
                <span class="profile-nav__num">0</span>最佳解答
            </a>
        </li>
        <li class="profile-nav__item profile-nav__item--pad">
            <div class="dropdown">
              <a id="profile-nav" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="profile-nav__link">
                <span class="profile-nav__icon"><i class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>其他
              </a>
              <ul class="dropdown-menu profile-nav__dropdown-menu" aria-labelledby="profile-nav">
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/ironman" class="profile-side__text">鐵人檔案</a>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/collections/questions" class="profile-side__text">收藏的問題</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/collections/articles" class="profile-side__text">收藏的文章</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/traces/questions" class="profile-side__text">追蹤的問題</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/traces/articles" class="profile-side__text">追蹤的文章</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/traces/tags" class="profile-side__text">追蹤的tag</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/traces/users" class="profile-side__text">追蹤的邦友</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/likes/questions" class="profile-side__text">Like的發問</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/likes/answers" class="profile-side__text">Like的回答</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/likes/articles" class="profile-side__text">Like的文章</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/likes/responses" class="profile-side__text">Like的留言</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/comments/questions" class="profile-side__text">問答討論</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/comments/answers" class="profile-side__text">問答回應</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/responses" class="profile-side__text">文章留言</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/comments/responses" class="profile-side__text">文章回應</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/talks" class="profile-side__text">聊天室</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20162903/collections/ironman" class="profile-side__text">訂閱列表</a></li>
              </ul>
            </div>
        </li>
    </ul>
</div>                </div>
                <div class="board leftside profile-main">
                        
    <h2 class="ir-profile-header">
        
        <img src="https://ithelp.ithome.com.tw/storage/image/fight.svg" alt="" class="">鐵人檔案
    </h2>
    <div class="ir-profile-content">
        <div class="ir-profile-years clearfix">
            <div class="ir-profile-years__title">
                2024 iThome 鐵人賽
            </div>
            <a href="https://ithelp.ithome.com.tw/users/20162903/ironman" class="ir-profile-back">回列表</a>
        </div>

        <div class="ir-profile-series ">
            
                                            <a href="https://ithelp.ithome.com.tw/2024ironman/modern-web" class="group__badge group__badge--modern-web ir-profile-list__badge">
                    Modern Web
                </a>
                        <h3 class="qa-list__title qa-list__title--ironman">
                無限...寶石？畫布啦！<span> 系列</span>
            </h3>
            <p class="qa-list__description">無邊際畫布的應用無所不在，Figma、excalidraw、tldraw 等等都可以看到它們的蹤跡。之前個人專案的開發需要一個無限畫布，不過因為我是屬於熱愛造輪子的人，我並沒有去尋找現成的解決方案，而是開始研究起無限畫布的實作方法。 一不小心就掉進這個坑了，現在我把這個坑佈置得舒舒服服的，邀請大家一起來坑裡作客。</p>
            <div class="text-right"><button id="read_more" class="btn btn-qa-list-open">展開 
            <i class="arrow-down-i fa fa-angle-down fa-3x" aria-hidden="true"></i>
            </button><button id="read_less" class="btn btn-secondary btn-qa-list-close" style="display: none;">收起
            <i class="arrow-down-i fa fa-angle-up fa-3x" aria-hidden="true"></i>
            </button></div>
            <div class="qa-list__info qa-list__info--ironman subscription-group">

                <span >
                                                                        參賽天數 27 天 ｜
                                                            </span>
                    <span>共 27 篇文章 ｜</span>
                    <span class="subscription-amount">4</span> 人訂閱
                                        <a href="https://ithelp.ithome.com.tw/users/login" class="ir-profile-subscription subscription-btn">
                            <i class="fa fa-bookmark-o fa-fw" aria-hidden="true"></i>訂閱系列文
                        </a>
                    
                <a href="https://ithelp.ithome.com.tw/rss/series/7089" class="btn-rss btn-no-border" target="_blank">
                    <i class="fa fa-rss fa-fw" aria-hidden="true"></i>RSS系列文
                </a>

                
                                                        ｜<a href="https://ithelp.ithome.com.tw/2024ironman/signup/team/359" class="ir-team"><span class="team-badge">團隊</span>菜很長團</a>
                            </div>


        </div>
<!-- articles -->
                        <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition  qa-condition--change ">
                        <span class="qa-condition__count">1</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">62</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    1
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10343146
                                                        " class="qa-list__title-link">
                                                            Day 01 | 從原點開始
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
前言
嗨，大家好！其實從蠻久以前就有耳聞鐵人賽，身邊也有一些朋友參加過了，本來想說去年要參加，但是計劃趕不上變化，忙著找工作腦袋就完全忘記這件事情了。xD
也...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-15 23:05:05" class="qa-list__info-time">2024-09-15</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">64</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    2
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10343994
                                                        " class="qa-list__title-link">
                                                            Day 02 | 無限空間
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
什麼是無限畫布？
簡單來說無限畫布就是一張大白紙的概念，你可以在這張白紙上面畫上你想要的任何東西在任何你想要的地方，而如果要給這張畫布的尺寸設下限制，你希望會...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-16 18:36:14" class="qa-list__info-time">2024-09-16</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">101</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    3
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10343995
                                                        " class="qa-list__title-link">
                                                            Day 03 | Canvas 的基礎
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
Canvas 到底怎麼用？
canvas 是一種 HTML 的標籤，它在 flash 式微消失後成為在網頁上創作的主要手段。
很多 2D 圖像的表現都可以用...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-17 11:45:14" class="qa-list__info-time">2024-09-17</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">58</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    4
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10343996
                                                        " class="qa-list__title-link">
                                                            Day 04 | Canvas 你怎麼都沒有反應？
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
Canvas 只是睡著了？
Canvas 本身是沒有「動」的概念。
已經畫下去的東西除非把它擦掉或是畫新的東西覆蓋上去，不然它是不會消失的。
畫在上面的東西是...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-18 12:13:29" class="qa-list__info-time">2024-09-18</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition  qa-condition--change ">
                        <span class="qa-condition__count">1</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">90</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    5
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10343997
                                                        " class="qa-list__title-link">
                                                            Day 05 | 點到點，向量計算的基本
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
今天起這個系列要開始實作了！啪唧啪唧啪唧
今天要講的是向量，以及怎麼做向量相關的計算。這算是進入正篇之前的前菜！
前置作業
以下有三個方法大家可以一起跟著做：...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-19 12:50:13" class="qa-list__info-time">2024-09-19</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">99</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    6
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10343998
                                                        " class="qa-list__title-link">
                                                            Day 06 | 說好的無限呢？
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
我今天又要跳脫一下實作來解釋一些技術上面的抉擇。
今天的主題主要是關於 HTML canvas 的，如果你對實作選擇背後的考量沒有太大興趣的話，你今天可以先休...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-20 07:55:51" class="qa-list__info-time">2024-09-20</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">48</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    7
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10343999
                                                        " class="qa-list__title-link">
                                                            Day 07 | 在 Canvas 上灑一點視覺元素
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
前言：還沒有實作之前提到的功能，就要先畫東西嗎？
前面在 Day 02 的時候有提到這個系列主要會實作移動無限畫布的功能。
不過在那個之前，需要先做的是無限畫...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-21 15:36:41" class="qa-list__info-time">2024-09-21</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">80</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    8
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10344000
                                                        " class="qa-list__title-link">
                                                            Day 08 | 笑一個，你上鏡頭了
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
今天我想要先概略講解一下我們會怎麼去拆解無限畫布這個看似範圍很大的問題，把它變成一些可以模組化的東西。
我們需要一個相機
相機是一個比較具體的比喻
要怎麼把無...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-22 18:02:04" class="qa-list__info-time">2024-09-22</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition  qa-condition--change ">
                        <span class="qa-condition__count">1</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition  qa-condition--had-answer ">
                        <span class="qa-condition__count">1</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">54</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    9
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10344002
                                                        " class="qa-list__title-link">
                                                            Day 09 | 座標系的轉換
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
今天要講解的東西是座標系的轉換(昨天有稍微提到過了)。
為什麼我們需要座標系轉換？
簡短來說就是當使用者在螢幕上點擊時，我們要知道他點擊了哪裡？
或者是說當使...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-23 12:21:53" class="qa-list__info-time">2024-09-23</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">45</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    10
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10344006
                                                        " class="qa-list__title-link">
                                                            Day 10 | Pan 平底鍋？
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
今天要來實作無限畫布三本柱之一：平移 (pan)
那我們廢話不多說，直接進入正題。
我們主要會支援三種使用者輸入方式：鍵盤滑鼠、觸控板、螢幕觸控（主要針對手機...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-24 22:49:13" class="qa-list__info-time">2024-09-24</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20162903/profile" class="qa-list__info-link">veee
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                </div>
        <div class="profile-pagination">
            <ul class="pager">
        
                    <li class="disabled"><span>上一頁</span></li>
        
        
                    <li><a href="https://ithelp.ithome.com.tw/users/20162903/ironman/7089?page=2" rel="next">下一頁</a></li>
            </ul>

        </div>
                </div>
                <div class="rightside profile-side">
                    <div class="board profile-side__box profile-side__box--ironman">
    <div class="profile-side__title">
        <a href="https://ithelp.ithome.com.tw/users/20162903/ironman"><img src="https://ithelp.ithome.com.tw/storage/image/fight.svg" alt="" class="">veee的鐵人檔案</a>
    </div>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-star-o fa-fw profile-side__icon"></i>veee的收藏
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/collections/questions" class="profile-side__text">收藏的問題</a>
        </li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/collections/articles" class="profile-side__text">收藏的文章</a>
        </li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-heart-o fa-fw profile-side__icon"></i>veee的追蹤
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/traces/questions" class="profile-side__text">追蹤的問題</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/traces/articles" class="profile-side__text">追蹤的文章</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/traces/tags" class="profile-side__text">追蹤的tag</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/traces/users" class="profile-side__text">追蹤的邦友</a></li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-thumbs-o-up fa-fw profile-side__icon"></i>veee的Like
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/likes/questions" class="profile-side__text">Like的發問</a>
        </li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/likes/answers" class="profile-side__text">Like的回答</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/likes/articles" class="profile-side__text">Like的文章</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/likes/responses" class="profile-side__text">Like的留言</a>
        </li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-file-text-o fa-fw profile-side__icon"></i>veee的紀錄
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/comments/questions" class="profile-side__text">問答討論</a>
        </li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/comments/answers" class="profile-side__text">問答回應</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/responses" class="profile-side__text">文章留言</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/comments/responses" class="profile-side__text">文章回應</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20162903/talks" class="profile-side__text">聊天室</a></li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <a href="https://ithelp.ithome.com.tw/users/20162903/collections/ironman"><i class="fa fa-bookmark-o fa-fw profile-side__icon" aria-hidden="true"></i>veee的訂閱列表</a>
    </div>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title profile-side__title--blockade">
                    <button class="blacklist_btn" data-id="20162903" data-nickname="veee">
                <i class="fa fa-user-times fa-fw profile-side__icon"></i>
                <span>
                                    封鎖 veee
                </span>
            </button>
            </div>
</div>
<div class="profile-side__ad">
    <script src="https://itadapi.ithome.com.tw/media/serve?type=B3&channel=ithome_forum&encoding=Utf8"></script>
</div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="a970">
                    <script src="https://itadapi.ithome.com.tw/media/serve?type=B1&channel=ithome_forum&encoding=Utf8"></script>
                </div>
                <ul class="list-inline footer__menu">
                    <li class="footer__item">電週文化事業版權所有、轉載必究 | Copyright © <a href="https://www.ithome.com.tw/" target="_blank" class="footer__link">iThome</a></li>
                    <li><a href="https://www.ithome.com.tw/aboutus/" target="_blank" class="footer__link">刊登廣告</a></li>
                    <li><a href="https://www.ithome.com.tw/aboutus/" target="_blank" class="footer__link">授權服務</a></li>
                    <li><a href="mailto:ithelp@mail.ithome.com.tw" class="footer__link">服務信箱</a></li>
                    <li><a href="https://www.ithome.com.tw/terms" target="_blank" class="footer__link">隱私權聲明與會員使用條款</a></li>
                    <li><a href="https://ithelp.ithome.com.tw/guide" class="footer__link">iT邦幫忙使用說明</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="https://ithelp.ithome.com.tw/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/js/messenger.min.js"></script>
<script>
    Messenger.options = {
        extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-left',
        theme: 'block'
    };

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }

    window.Notification.TOKEN = getCookie("_token");
</script>
<script>
    $(function(){
        $.ajaxPrefilter(function(options, originalOptions, jqXHR){
            if (options.type.toLowerCase() !== "get" && !options.beforeSend) {
                options.beforeSend = function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', 'viozHA7rqNQeQEhGUZ1S7tq3sqNrSsO8uKxNz8tp');
                }
            }
        });
    });
</script>
<script src="https://ithelp.ithome.com.tw/js/lib/vue.min.js"></script>
<script src="https://ithelp.ithome.com.tw/js/lib/sweetalert.min.js"></script>
<script src="https://ithelp.ithome.com.tw/js/event.js?20180530"></script>
<script src="https://ithelp.ithome.com.tw/lib/select2/js/select2.full.min.js"></script>

<script src="https://ithelp.ithome.com.tw/js/ImgPreview.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var self = this;
    const itPlusVideo = new Vue({
        el: '#it_plus_video',
        data: {
            items: [],
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/itplus/sidebar')
                        .then(response => {
                            this.items = response.data.data;
                        })
                        .catch(error => {
                            console.error("error!", error);
                        });
//                const cacheKey = 'cachedData';
//                const cachedDataString = localStorage.getItem(cacheKey);
//                const cachedData = JSON.parse(cachedDataString);
//
//                // 檢查緩存數據是否存在並且未過期
//                if (cachedData && Date.now() - cachedData.timestamp < 5 * 60 * 1000) {
//                    // 使用緩存數據
//                    this.items = cachedData.data;
//                } else {
//                    // 獲取最新數據
//                    axios.get('/api/itplus/sidebar')
//                            .then(response => {
//                                console.log(response.data.cache);
//                                this.items = response.data.data;
//
//                                // 將獲取到的數據存儲在本地存儲中
//                                const newData = { data: response.data.data, timestamp: Date.now() };
//                                localStorage.setItem(cacheKey, JSON.stringify(newData));
//                            })
//                            .catch(error => {
//                                console.error("error!", error);
//                            });
//                }
            },
            formatDate(time) {
                const parts = time.split(':');	//	移除":"符號
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);

                const totalMinutes = hours * 60 + minutes;

                return totalMinutes + " 分";
            },
        }
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var self = this;
    const itplusPopulaRecommendationsContent = new Vue({
        el: '#itplusPopulaRecommendationsContent',
        data: {
            items: []
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/itplus/bottom')
                        .then(response => {
                            this.items = response.data.data;
                            console.log(response.data.data);
                        })
                        .catch(error => {
                            console.error("error!", error);
                        });
            },
            formatDate(time) {
                const parts = time.split(':');	//	移除":"符號
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);

                const totalMinutes = hours * 60 + minutes;

                return totalMinutes + " 分";
            },
        }
    });
</script>

<div class="modal fade" id="AtUser" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">標記使用者</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="invite_person" class="control-label">輸入對方的帳號或暱稱</label>
                    <input type="text" class="form-control modal-input" id="invite_person" v-model="result_text" debounce="500">
                    <div id="editor_tagged_ids"></div>
                </div>
                <ul class="list-unstyled invitation">
                    <li style="text-align: center">
                        <template v-if="!!result_text && !result_list.length && is_loading">
                            Loading
                        </template>
                        <template v-if="!!result_text && !result_list.length && !is_loading">
                            找不到結果。
                        </template>
                    </li>
                    <li class="invitation-list" v-for="result in result_list">
                        <img v-if="result && result.center_id" :src="'https://member.ithome.com.tw/avatars/' + result.center_id + '?s=ithelp'" style="float: left; margin-left: 10px; width: 48px; height: 48px;">
                        <div class="invitation-list__content clearfix">
                            <a class="btn btn-main invitation-list__btn" @click="AtUserByID(result.label, result.id)">標記</a>
                            <div><a href="#" class="invitation-list__name">{{ result.label }}</a></div>
                            <div><a href="#" class="invitation-list__account">{{ result.account }}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-main" data-dismiss="modal">關閉</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>hljs.highlightAll()</script>
    </body>

</html>