<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">





<title>給初學者的 linux 命令列介面漫談 :: 2024 iThome 鐵人賽</title>

<meta name="description" content="linux 的終端機/命令列介面，是很有用的工具，但對於沒有接觸過的人，可能會有點感到迷惘。特別是開始接觸程式開發、資料科學、人工智慧，時不時地會突然遇見他..."/>
<meta name="keywords" content="iT邦幫忙,iThome">
<meta name="author" content="iThome">
<meta property="og:site_name" content="iT 邦幫忙::一起幫忙解決難題，拯救 IT 人的一天"/>
<meta property="og:url" content="https://ithelp.ithome.com.tw/users/20152654/ironman/7703"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="給初學者的 linux 命令列介面漫談 :: 2024 iThome 鐵人賽"/>
<meta property="og:image" content="https://ithelp.ithome.com.tw/storage/image/fbpic.jpg"/>
<meta property="og:description" content="linux 的終端機/命令列介面，是很有用的工具，但對於沒有接觸過的人，可能會有點感到迷惘。特別是開始接觸程式開發、資料科學、人工智慧，時不時地會突然遇見他..."/>
<meta property="fb:app_id" content="137875859607921" />

<link rel="apple-touch-icon" sizes="57x57" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://ithelp.ithome.com.tw/storage/favicons/manifest.json">
<link rel="mask-icon" href="https://ithelp.ithome.com.tw/storage/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="https://ithelp.ithome.com.tw/storage/favicons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/bootstrap.min.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/sweetalert.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/lib/select2/css/select2.min.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/google.css">
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/style.css?202008271142">
<!-- highlight -->
<link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/railscasts.css">
<!-- end -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--messenger css-->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-6182VBHV8Y"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6182VBHV8Y');
</script>
            </head>

<body>
    <div class="header">
    <div class="a970" align="center">
        <script src="https://itadapi.ithome.com.tw/media/serve?type=B5&channel=ithome_index&encoding=Utf8"></script>
    </div>
    <div class="header__inner clearfix">
        <h1 class="header__logo pull-left"><a href="/"><img src="https://ithelp.ithome.com.tw/storage/image/logo.svg" alt="iT邦幫忙" class="img-responsive"></a></h1>
        <div class="header__promote">
            <div class="a12word pull-right">
                <div class="a12word__box">
                    <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T2&channel=ithome_forum&encoding=Utf8"> </script>
                </div>
                <div class="a12word__box">
                    <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T3&channel=ithome_forum&encoding=Utf8"> </script>
                </div>
                <div class="a12word__box">
                    <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T4&channel=ithome_forum&encoding=Utf8"> </script>
                </div>
            </div>

            <div class="a970 pull-right">
                <script src="https://itadapi.ithome.com.tw/media/serve?type=B1&channel=ithome_forum&encoding=Utf8"></script>
            </div>
        </div>
    </div>

    <nav class="menu">
        <div class="menu__bg">
            <div class="menu__container clearfix">
                
                <h1 class="menu__logo">
                    <a href="/" class="menu__logo-link"><img src="https://ithelp.ithome.com.tw/storage/image/nav_logo.svg"  alt="iT邦幫忙"></a>
                </h1>

                                
                
                <ul class="list-unstyled menu__left">
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/questions" class="menu__item-link  menu__item-link--pl">技術問答</a>
                    </li>
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/articles?tab=tech" class="menu__item-link ">技術文章</a>
                    </li>
                    
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/articles?tab=job" class="menu__item-link  hidden-xs" >iT 徵才</a>
                    </li>
                    
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/tags" class="menu__item-link  hidden-xs" >Tag</a>
                    </li>
                    <li class="menu__item">
                        <a href="https://ithelp.ithome.com.tw/talks" class="menu__item-link  hidden-xs" >聊天室</a>
                    </li>
                    <li class="menu__item menu__item--ironman">
                        <a href="/2024ironman/" target="_blank" class="menu__item-link hidden-xs" >2024 鐵人賽</a>
                    </li>
                </ul>
                

                                    
                    <ul class="list-unstyled menu__right">
                        <li class="menu__item">
                            <div id="searchDropdown" class="menu__search-btn">
                                <span class="menu__search-toggle"></span>
                            </div>
                        </li>
                        <li class="menu__item">
                            <a href="https://ithelp.ithome.com.tw/users/login" class="menu__item-link">登入/註冊</a>
                        </li>
                    </ul>
                            </div>
        </div>

        
        <div class="menu__dropform">
            <div class="menu__container">
                <form action="https://ithelp.ithome.com.tw/search" role="search" method="GET" class="clearfix">
                    <input type="hidden" name="_token" value="AHaUwmkqFXcDfvEO3gW0AAViq2HCkXQdyteIEhED">                    <div class="pull-left">
                        <input name="search" type="text" class="menu__search-input" placeholder="搜尋主題、問題或人">

                        <input type="radio" class="radio-input" name="tab" value="question" id="searchQA" checked/>
                        <label for="searchQA" class="radio-label">問答</label>

                        <input type="radio" class="radio-input" name="tab" value="article" id="searchArticle"/>
                        <label for="searchArticle" class="radio-label">文章</label>

                        <input type="radio" class="radio-input" name="tab" value="tag" id="searchTag"/>
                        <label for="searchTag" class="radio-label">Tag</label>

                        <input type="radio" class="radio-input" name="tab" value="user" id="searchID"/>
                        <label for="searchID" class="radio-label">邦友</label>

                        <input type="radio" class="radio-input" name="tab" value="ironman" id="searchIronman"/>
                        <label for="searchIronman" class="radio-label">鐵人賽</label>
                    </div>
                    <button type="submit" class="btn menu__dropform-btn">搜尋</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="menu__mask"></div>
</div>


    
                    
        
    <div class="container index-top">
        <div class="row">
            <div class="col-md-12">
                <div class="board">
                    <div class="profile-header clearfix">
    <div class="profile-header__avatar">
        <img src="https://member.ithome.com.tw/avatars/175851?s=ithelp" class="profile-header__avatar-img"/>

    </div>
    

    <div class="profile-header__content">
        <div class="profile-header__name">
            tjwei <span class="profile-header__account">(tjwei)</span>
        </div>
        <div class="profile-header__text">
            iT邦新手 5 級 ‧ 點數 <a
                    href="https://ithelp.ithome.com.tw/users/20152654/points">
                123
            </a>
        </div>
        <div class="profile-header__text">
            https://ai.nycu.edu.tw/ 
        </div>
    </div>
    <div class="profile-header__right">
        <div class="profile-header__statistic">
            <div class="profile-header__view">
                <div><span class="profile-header__view-num">2939</span></div>
                <div class="profile-header__view-text">累計瀏覽數</div>
            </div>
            <div class="profile-header__follow">
                <a href="https://ithelp.ithome.com.tw/users/20152654/traced" class="profile-header__follow-link">
                    <div><span class="profile-header__follow-num">2</span>人</div>
                    <div class="profile-header__follow-text">在追蹤</div>
                </a>
            </div>
        </div>

        <div class="pull-right">
                            <div class="profile-header__btngroup">
                    <a href="https://ithelp.ithome.com.tw/messages/getGroup/20152654"
                       class="btn btn-border-main profile-header__btn--left">
                        <i class="fa fa-envelope-o fa-fw profile-side__icon"></i>站內簡訊
                    </a>
                                            <a href="https://ithelp.ithome.com.tw/users/login" class="btn btn-trace">
                            <i class="fa fa-heart-o fa-fw fa--spacing"></i>追蹤
                        </a>
                                    </div>
                    </div>
    </div>
</div>
<div class="profile-nav">
    <ul class="list-inline profile-nav__list">
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="profile-nav__link">
                <span class="profile-nav__icon"><i class="fa fa-newspaper-o fa-fw"></i></span> 個人背景
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20152654/questions" class="profile-nav__link">
                <span class="profile-nav__num">0</span>發問
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20152654/articles" class="profile-nav__link">
                <span class="profile-nav__num">30</span>文章
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20152654/answers" class="profile-nav__link">
                <span class="profile-nav__num">0</span>回答
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20152654/invited" class="profile-nav__link">
                <span class="profile-nav__num">0</span>邀請回答
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="https://ithelp.ithome.com.tw/users/20152654/best_answers" class="profile-nav__link">
                <span class="profile-nav__num">0</span>最佳解答
            </a>
        </li>
        <li class="profile-nav__item profile-nav__item--pad">
            <div class="dropdown">
              <a id="profile-nav" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="profile-nav__link">
                <span class="profile-nav__icon"><i class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>其他
              </a>
              <ul class="dropdown-menu profile-nav__dropdown-menu" aria-labelledby="profile-nav">
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/ironman" class="profile-side__text">鐵人檔案</a>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/collections/questions" class="profile-side__text">收藏的問題</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/collections/articles" class="profile-side__text">收藏的文章</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/traces/questions" class="profile-side__text">追蹤的問題</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/traces/articles" class="profile-side__text">追蹤的文章</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/traces/tags" class="profile-side__text">追蹤的tag</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/traces/users" class="profile-side__text">追蹤的邦友</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/likes/questions" class="profile-side__text">Like的發問</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/likes/answers" class="profile-side__text">Like的回答</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/likes/articles" class="profile-side__text">Like的文章</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/likes/responses" class="profile-side__text">Like的留言</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/comments/questions" class="profile-side__text">問答討論</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/comments/answers" class="profile-side__text">問答回應</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/responses" class="profile-side__text">文章留言</a>
                </li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/comments/responses" class="profile-side__text">文章回應</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/talks" class="profile-side__text">聊天室</a></li>
                <li><a href="https://ithelp.ithome.com.tw/users/20152654/collections/ironman" class="profile-side__text">訂閱列表</a></li>
              </ul>
            </div>
        </li>
    </ul>
</div>                </div>
                <div class="board leftside profile-main">
                        
    <h2 class="ir-profile-header">
        
        <img src="https://ithelp.ithome.com.tw/storage/image/fight.svg" alt="" class="">鐵人檔案
    </h2>
    <div class="ir-profile-content">
        <div class="ir-profile-years clearfix">
            <div class="ir-profile-years__title">
                2024 iThome 鐵人賽
            </div>
            <a href="https://ithelp.ithome.com.tw/users/20152654/ironman" class="ir-profile-back">回列表</a>
        </div>

        <div class="ir-profile-series  ir-profile-series--done ">
            
                                            <a href="https://ithelp.ithome.com.tw/2024ironman/video-tutorial" class="group__badge group__badge--video-tutorial ir-profile-list__badge">
                    影片教學
                </a>
                        <h3 class="qa-list__title qa-list__title--ironman">
                給初學者的 linux 命令列介面漫談<span> 系列</span>
            </h3>
            <p class="qa-list__description">linux 的終端機/命令列介面，是很有用的工具，但對於沒有接觸過的人，可能會有點感到迷惘。特別是開始接觸程式開發、資料科學、人工智慧，時不時地會突然遇見他。這個系列簡單聊一下相關的工具以及基礎概念。<br />
</p>
            <div class="text-right"><button id="read_more" class="btn btn-qa-list-open">展開 
            <i class="arrow-down-i fa fa-angle-down fa-3x" aria-hidden="true"></i>
            </button><button id="read_less" class="btn btn-secondary btn-qa-list-close" style="display: none;">收起
            <i class="arrow-down-i fa fa-angle-up fa-3x" aria-hidden="true"></i>
            </button></div>
            <div class="qa-list__info qa-list__info--ironman subscription-group">

                <span >
                                                                        參賽天數 30 天 ｜
                                                            </span>
                    <span>共 30 篇文章 ｜</span>
                    <span class="subscription-amount">6</span> 人訂閱
                                        <a href="https://ithelp.ithome.com.tw/users/login" class="ir-profile-subscription subscription-btn">
                            <i class="fa fa-bookmark-o fa-fw" aria-hidden="true"></i>訂閱系列文
                        </a>
                    
                <a href="https://ithelp.ithome.com.tw/rss/series/7703" class="btn-rss btn-no-border" target="_blank">
                    <i class="fa fa-rss fa-fw" aria-hidden="true"></i>RSS系列文
                </a>

                
                            </div>


        </div>
<!-- articles -->
                        <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition  qa-condition--change ">
                        <span class="qa-condition__count">1</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">150</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    1
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10349756
                                                        " class="qa-list__title-link">
                                                            命令列漫談 1: 為什麼選 vscode 而不是 cursor 和 warp  
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        大家好！這是我們這個系列的第一支影片。這個系列影片將補充我的短期課程內容，主題涵蓋了 Git、Docker、雲端技術，以及 Linux 系統。這個課程只有三週的...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-12 17:33:52" class="qa-list__info-time">2024-09-12</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">157</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    2
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10350068
                                                        " class="qa-list__title-link">
                                                            命令列漫談 2: sixel 在文字終端機顯示圖片
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
https://youtu.be/VlIk_atqSYA
本影片介紹 Sixel 技術,讓你在文字介面的終端機中也能顯示圖片!我們將展示 Sixel 的實際應...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-13 19:05:49" class="qa-list__info-time">2024-09-13</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition  qa-condition--change ">
                        <span class="qa-condition__count">1</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">57</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    3
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10350074
                                                        " class="qa-list__title-link">
                                                            命令列漫談 3: 傳統的命令列資料處理工具
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        這支影片介紹了一些傳統的命令列資料處理工具,包括:00:00:00 - 介紹傳統和現代資料處理工具的背景00:02:25 - 示範使用 head 和 tail...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-14 15:02:27" class="qa-list__info-time">2024-09-14</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">60</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    4
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10350889
                                                        " class="qa-list__title-link">
                                                            命令列漫談 4: 命令列的 job control
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        這部影片講解在類 Unix 系統中的命令列任務控制技巧。內容涵蓋如何管理正在運行的程序、將它們在前景和背景之間切換，以及在斷開終端機連接後保持程序運行。0:00...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-15 11:16:05" class="qa-list__info-time">2024-09-15</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">79</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    5
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10351025
                                                        " class="qa-list__title-link">
                                                            命令列漫談 5: 系統資訊(上) Process
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        這個影片介紹了在命令行中查看系統信息和管理 process 的各種指令:0:00 - 介紹影片主題0:17 - 介紹 w 和 who 命令來查看登錄用戶0:52...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-16 12:16:29" class="qa-list__info-time">2024-09-16</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">98</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    6
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10352698
                                                        " class="qa-list__title-link">
                                                            命令列漫談 6: 系統資訊(下) 儲存空間及網路
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        
(更新: youtube 預覽失效? 如果上面失效，使用以下連結)https://www.youtube.com/watch?v=v4q5z5QeAJ0
這段...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-17 11:22:44" class="qa-list__info-time">2024-09-17</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">108</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    7
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10353480
                                                        " class="qa-list__title-link">
                                                            命令列漫談 7: tmux, nix, vim
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        這個影片介紹了三個強大但易用的命令列工具：tmux、Nix 和 Vim。影片強調，雖然這些工具功能強大，但使用者只需掌握一小部分功能就能受益。影片鼓勵觀眾根據自...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-18 14:26:46" class="qa-list__info-time">2024-09-18</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">88</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    8
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10354370
                                                        " class="qa-list__title-link">
                                                            命令列漫談 8: 命令列下的 Python
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        這部影片介紹了在命令列環境中可使用的多種 Python 工具。從基本的 Python 直譯器到更進階的互動式環境如 bpython、IPython 和 Eupo...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-19 19:15:01" class="qa-list__info-time">2024-09-19</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">56</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    9
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10355019
                                                        " class="qa-list__title-link">
                                                            命列列漫談 9: jq 快速處理 json 的工具
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        0:00 - 介紹 jq 及其用途
jq 是命令列下快速處理 JSON 資料的工具JSON 是常見的資料交換格式，在影像標註、大語言模型訓練、雲端 API 等領...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-20 18:08:49" class="qa-list__info-time">2024-09-20</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                    <div class="qa-list profile-list ir-profile-list">
                <div class="profile-list__condition">
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">Like</span></a>
                    <a class="qa-condition ">
                        <span class="qa-condition__count">0</span>
                        <span class="qa-condition__text">留言</span>
                    </a>
                    <a class="qa-condition   qa-condition--change ">
                        <span class="qa-condition__count">79</span>
                        <span class="qa-condition__text">瀏覽</span>
                    </a>
                </div>
                <div class="profile-list__content">


                    
                    <div class="ir-qa-list__status">
                        
                                                    <span class="ir-qa-list__days ir-qa-list__days--profile ">DAY
                                                                    10
                                                            </span>
                                            </div>

                    <h3 class="qa-list__title">
                                               
                        <a href="
                                                https://ithelp.ithome.com.tw/articles/10355544
                                                        " class="qa-list__title-link">
                                                            命令列漫談 10: 終端機的 Dataframe 檢視器 visidata
                                                    </a>
                    </h3>
                    <p class="qa-list__desc">
                        這支影片介紹了 visidata,一個在終端機中使用的強大數據檢視與處理工具。visidata 可以處理多種格式的數據,包括 CSV、Parquet 文件,甚至...
                    </p>
                    <div class="qa-list__info">
                        <a title="2024-09-21 14:06:27" class="qa-list__info-time">2024-09-21</a> ‧ 由
                                                    <a href="https://ithelp.ithome.com.tw/users/20152654/profile" class="qa-list__info-link">tjwei
                            </a>
                                                分享

                    </div>
                </div>

            </div>
                </div>
        <div class="profile-pagination">
            <ul class="pager">
        
                    <li class="disabled"><span>上一頁</span></li>
        
        
                    <li><a href="https://ithelp.ithome.com.tw/users/20152654/ironman/7703?page=2" rel="next">下一頁</a></li>
            </ul>

        </div>
                </div>
                <div class="rightside profile-side">
                    <div class="board profile-side__box profile-side__box--ironman">
    <div class="profile-side__title">
        <a href="https://ithelp.ithome.com.tw/users/20152654/ironman"><img src="https://ithelp.ithome.com.tw/storage/image/fight.svg" alt="" class="">tjwei的鐵人檔案</a>
    </div>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-star-o fa-fw profile-side__icon"></i>tjwei的收藏
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/collections/questions" class="profile-side__text">收藏的問題</a>
        </li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/collections/articles" class="profile-side__text">收藏的文章</a>
        </li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-heart-o fa-fw profile-side__icon"></i>tjwei的追蹤
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/traces/questions" class="profile-side__text">追蹤的問題</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/traces/articles" class="profile-side__text">追蹤的文章</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/traces/tags" class="profile-side__text">追蹤的tag</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/traces/users" class="profile-side__text">追蹤的邦友</a></li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-thumbs-o-up fa-fw profile-side__icon"></i>tjwei的Like
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/likes/questions" class="profile-side__text">Like的發問</a>
        </li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/likes/answers" class="profile-side__text">Like的回答</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/likes/articles" class="profile-side__text">Like的文章</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/likes/responses" class="profile-side__text">Like的留言</a>
        </li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <i class="fa fa-file-text-o fa-fw profile-side__icon"></i>tjwei的紀錄
        <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
    </div>
    <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/comments/questions" class="profile-side__text">問答討論</a>
        </li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/comments/answers" class="profile-side__text">問答回應</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/responses" class="profile-side__text">文章留言</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/comments/responses" class="profile-side__text">文章回應</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20152654/talks" class="profile-side__text">聊天室</a></li>
    </ul>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title">
        <a href="https://ithelp.ithome.com.tw/users/20152654/collections/ironman"><i class="fa fa-bookmark-o fa-fw profile-side__icon" aria-hidden="true"></i>tjwei的訂閱列表</a>
    </div>
</div>
<div class="board profile-side__box">
    <div class="profile-side__title profile-side__title--blockade">
                    <button class="blacklist_btn" data-id="20152654" data-nickname="tjwei">
                <i class="fa fa-user-times fa-fw profile-side__icon"></i>
                <span>
                                    封鎖 tjwei
                </span>
            </button>
            </div>
</div>
<div class="profile-side__ad">
    <script src="https://itadapi.ithome.com.tw/media/serve?type=B3&channel=ithome_forum&encoding=Utf8"></script>
</div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="a970">
                    <script src="https://itadapi.ithome.com.tw/media/serve?type=B1&channel=ithome_forum&encoding=Utf8"></script>
                </div>
                <ul class="list-inline footer__menu">
                    <li class="footer__item">電週文化事業版權所有、轉載必究 | Copyright © <a href="https://www.ithome.com.tw/" target="_blank" class="footer__link">iThome</a></li>
                    <li><a href="https://www.ithome.com.tw/aboutus/" target="_blank" class="footer__link">刊登廣告</a></li>
                    <li><a href="https://www.ithome.com.tw/aboutus/" target="_blank" class="footer__link">授權服務</a></li>
                    <li><a href="mailto:ithelp@mail.ithome.com.tw" class="footer__link">服務信箱</a></li>
                    <li><a href="https://www.ithome.com.tw/terms" target="_blank" class="footer__link">隱私權聲明與會員使用條款</a></li>
                    <li><a href="https://ithelp.ithome.com.tw/guide" class="footer__link">iT邦幫忙使用說明</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="https://ithelp.ithome.com.tw/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/js/messenger.min.js"></script>
<script>
    Messenger.options = {
        extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-left',
        theme: 'block'
    };

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }

    window.Notification.TOKEN = getCookie("_token");
</script>
<script>
    $(function(){
        $.ajaxPrefilter(function(options, originalOptions, jqXHR){
            if (options.type.toLowerCase() !== "get" && !options.beforeSend) {
                options.beforeSend = function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', 'AHaUwmkqFXcDfvEO3gW0AAViq2HCkXQdyteIEhED');
                }
            }
        });
    });
</script>
<script src="https://ithelp.ithome.com.tw/js/lib/vue.min.js"></script>
<script src="https://ithelp.ithome.com.tw/js/lib/sweetalert.min.js"></script>
<script src="https://ithelp.ithome.com.tw/js/event.js?20180530"></script>
<script src="https://ithelp.ithome.com.tw/lib/select2/js/select2.full.min.js"></script>

<script src="https://ithelp.ithome.com.tw/js/ImgPreview.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var self = this;
    const itPlusVideo = new Vue({
        el: '#it_plus_video',
        data: {
            items: [],
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/itplus/sidebar')
                        .then(response => {
                            this.items = response.data.data;
                        })
                        .catch(error => {
                            console.error("error!", error);
                        });
//                const cacheKey = 'cachedData';
//                const cachedDataString = localStorage.getItem(cacheKey);
//                const cachedData = JSON.parse(cachedDataString);
//
//                // 檢查緩存數據是否存在並且未過期
//                if (cachedData && Date.now() - cachedData.timestamp < 5 * 60 * 1000) {
//                    // 使用緩存數據
//                    this.items = cachedData.data;
//                } else {
//                    // 獲取最新數據
//                    axios.get('/api/itplus/sidebar')
//                            .then(response => {
//                                console.log(response.data.cache);
//                                this.items = response.data.data;
//
//                                // 將獲取到的數據存儲在本地存儲中
//                                const newData = { data: response.data.data, timestamp: Date.now() };
//                                localStorage.setItem(cacheKey, JSON.stringify(newData));
//                            })
//                            .catch(error => {
//                                console.error("error!", error);
//                            });
//                }
            },
            formatDate(time) {
                const parts = time.split(':');	//	移除":"符號
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);

                const totalMinutes = hours * 60 + minutes;

                return totalMinutes + " 分";
            },
        }
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var self = this;
    const itplusPopulaRecommendationsContent = new Vue({
        el: '#itplusPopulaRecommendationsContent',
        data: {
            items: []
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/itplus/bottom')
                        .then(response => {
                            this.items = response.data.data;
                            console.log(response.data.data);
                        })
                        .catch(error => {
                            console.error("error!", error);
                        });
            },
            formatDate(time) {
                const parts = time.split(':');	//	移除":"符號
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);

                const totalMinutes = hours * 60 + minutes;

                return totalMinutes + " 分";
            },
        }
    });
</script>

<div class="modal fade" id="AtUser" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">標記使用者</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="invite_person" class="control-label">輸入對方的帳號或暱稱</label>
                    <input type="text" class="form-control modal-input" id="invite_person" v-model="result_text" debounce="500">
                    <div id="editor_tagged_ids"></div>
                </div>
                <ul class="list-unstyled invitation">
                    <li style="text-align: center">
                        <template v-if="!!result_text && !result_list.length && is_loading">
                            Loading
                        </template>
                        <template v-if="!!result_text && !result_list.length && !is_loading">
                            找不到結果。
                        </template>
                    </li>
                    <li class="invitation-list" v-for="result in result_list">
                        <img v-if="result && result.center_id" :src="'https://member.ithome.com.tw/avatars/' + result.center_id + '?s=ithelp'" style="float: left; margin-left: 10px; width: 48px; height: 48px;">
                        <div class="invitation-list__content clearfix">
                            <a class="btn btn-main invitation-list__btn" @click="AtUserByID(result.label, result.id)">標記</a>
                            <div><a href="#" class="invitation-list__name">{{ result.label }}</a></div>
                            <div><a href="#" class="invitation-list__account">{{ result.account }}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-main" data-dismiss="modal">關閉</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>hljs.highlightAll()</script>
    </body>

</html>